.shop-Container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
}
.product-Container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:45px;
    margin:100px 50px;
}
.Card-Container{
    background: rgba(255, 153, 0, 0.3);
    position: relative;
    position: fixed;

}

@media screen and (max-width:1100px){
    .product-Container{
        grid-template-columns: repeat(2, 1fr);
    }
}